.title {
  color: var(--Text, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
}

.scndTitle {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 48px;
  position: relative;
}

.scndTitle::after {
  position: absolute;
  bottom: -24px;
  left: 0;
  content: '';
  width: 360px;
  height: 1px;
  background-color: var(--Gray-light, #dadde1);
}

.equipment,
.type {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 360px;
  margin-bottom: 32px;
}

.eqItem,
.typeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--Gray-light, #dadde1);
  mix-blend-mode: multiply;
  width: 112px;
  height: 96px;
  cursor: pointer;
  user-select: none;
  transition: border 0.3s ease-in-out;
}

.eqItemActive,
.typeItemActive{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--Button, #E44848);
  mix-blend-mode: multiply;
  width: 112px;
  height: 96px;
  cursor: pointer;
  user-select: none;
  transition: border 0.3s ease-in-out;
}

.itemText {
  color: var(--Main, #101828);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}

.searchBtn {
  display: flex;
  width: 166px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--Button, #e44848);
  height: 56px;
  border: none;
  outline: none;
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  transition: background 0.3s ease-in-out;
}

.searchBtn:hover{
    background: var(--Button-Hover, #D84343);
}
