.form {
  display: flex;
  width: 641px;
  min-height: 588px;
  padding: 44px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--Gray-light, #dadde1);
  position: relative;
}

.title {
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  margin-bottom: 8px;
}

.text {
  color: var(--Gray, #6c717b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-bottom: 24px;
}

.input {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 18px 18px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--Inputs, #f7f7f7);
  border: none;
  outline: none;
  margin-bottom: 14px;
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.input::placeholder {
  color: var(--Gray, #6c717b);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.commentInput {
  display: flex;
  width: 100%;
  height: 118px;
  padding: 18px 18px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: var(--Inputs, #f7f7f7);
  border: none;
  outline: none;
  margin-bottom: 24px;
  color: var(--Main, #101828);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  resize: none;
}

.dataPickew {
  position: absolute;
  bottom: -94px;
  left: 37px;
}

.dataPick {
  background: var(--Inputs, #f7f7f7);
}

.sendBtn{
  border: none;
  outline: none;
  width: fit-content;
  display: flex;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--Button, #E44848);
  color: var(--White, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  transition: background 0.3s ease-in-out;
  margin: 0 auto;
}

.sendBtn:hover{
  background: var(--Button-Hover, #D84343);
}