.container {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url('/src/assets/Picture.png') lightgray 0px -192.086px / 100% 138.099% no-repeat;
  padding: 260px 64px;
}

@media only screen and (min-resolution: 2dppx) {
  .container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url('/src/assets/Picture@2x.png') lightgray 0px -192.086px / 100% 138.099% no-repeat;
  }
}

.title {
  color: var(--Inputs, #f7f7f7);
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
}

.text {
  color: var(--Inputs, #f7f7f7);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 40px;
}

.navBtn {
  text-decoration: none;
  display: flex;
  width: 173px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--Button, #e44848);
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
  transition: background 0.3s ease-in-out;
}

.navBtn:hover {
  background: var(--Button-Hover, #d84343);
}
